<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OrganizerDbContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Dawid\Desktop\Projekty\Projekt Semestralny\OrganizerApp\OrganizerBD.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
